@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --font-display: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

.slope-edge {
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
}

.slope-edge-top {
  clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
}

.text-balance {
  text-wrap: balance;
}
